@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
}

.image-sidebar {
  width: 40vw;
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
}

.image-sidebar > img {
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  display: flex;
  height: 20%;
  background-color: black;
  opacity: 0.5;
  color: white;
  width: 100%;
  top: 100px;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.logo > img {
  height: 80%;
}

.logo-text {
  font-size: 5rem;
  font-family: "Abril Fatface", cursive;
}

.shoutout {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  color: white;
  opacity: 0.5;
}

.shoutout > a {
  color: white;
  opacity: 0.5;
}

.content-sidebar {
  width: 60vw;
}
